#index {
  background-image: url(../images/home.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: floralwhite;
}

#index span {
  font-size: 22px;
  font-weight: bold;
}

#index p {
  text-align: center;
}

.title {
  text-align: center;
  color: rgb(2, 0, 104);
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

#nav .inline {
  list-style: none;
  overflow: hidden;
  padding-left: 0;
  width: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#nav li {
  width: 140px;
  font-size: 16px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}

#nav li a {
  text-decoration: none;
  color: rgb(44, 44, 44);
  font-weight: bold;
  padding: 20px;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

#nav li a:hover {
  color: midnightblue;
  text-decoration: underline;
}

h1 {
  font-size: 55px;
}

.h1-1 {
  font-size: 30px;
  background: linear-gradient( to right,  hsl(256, 100%, 53%) 25%, rgb(33, 155, 255) 75% );
  -webkit-background-clip: text;
  color: transparent;
}

.h1-2 {
  font-size: 30px;
  background: linear-gradient( to right,  #ED4264 20%, rgb(248, 49, 231) 80%) ;
  -webkit-background-clip: text;
  color: transparent;
}

.img {
  width: 360px;
  height: auto;
  text-align: center;
}

.img-header {
  width: 360px;
}

.title1 {
  font-size: 40px;
  text-align: center;
  color: hsl(256, 100%, 53%);
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.title2 {
  font-size: 40px;
  text-align: center;
  color: #ED4264;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.header {
  background: url(../images/header.JPG);
  background-size: cover;
}

.message p {
  width: 360px;
  height: auto;
  box-sizing: border-box;
  border: 10px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#FFAFBD, #ED4264);
}

#history {
  background: linear-gradient(#adf3f8 , #92ff3983);
}

#message {
  background: linear-gradient(#c099ff , #f8a0e9);
}